<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />


<meta property="og:title" content="Djangochan" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.djangochan.tech" />
<meta property="og:description" content="Simple image board" />
<meta name="theme-color" content="#FF0000">

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Djangochan</title>

	{% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/text_style.css' %}">

    {% comment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark_style.css' %}"> {% endcomment %}

</head>

<body>
    <div class="about" id='about'>
        <h1>Welcome to Djangochan.</h1>
        <div id='what_is' style="width: 100%">
            {%load static%}
            <div class="centeredImage">
                <img src={%static 'assets/kumamon_header.jpg'%} alt='djangochan banner'>
            </div>
            <div style="margin: 2% 5%">
                <p>
                    Djangochan is a simple and lightweight image-based chat webpage. You do not need to register an
                    account
                    for posting, though you can use a temporary nickname.
                </p>
                <p>
                    Django + postgreSQL backend 🐍 <br>
                    We're running under docker 🐳 in 3 different containers. Web server (gunicorn), database and
                    nginx<br>
                    Using nginx as reverse proxy. <br>
                    Be warned that I have <strong> ABSOLUTELY NO IDEA ABOUT FRONTEND STUFF </strong> so I'm sorry for the jank.

                </p>

                <p>

                    I took 🍀4chan as a model as suggested in the <tt>Readme.MD</tt> file. I created 3 overarching
                    boards.
                    <br> Inside each you can find different threads (or chat rooms) composed of different posts (or
                    messages)
                </p>

            </div>
        </div>
        <div class="about" id='board_select'>
            <h3>Current chat boards: </h3>
            <div id='board_select_inner'>
                {% if board_list %}
                {% for board in board_list %}
                <a href="{% url 'board_detail' board.board_id %}">{{ board.board_name }}</a>
                {% endfor %}
                {%endif%}

            </div>
        </div>
    </div>



</body>

<div class="#footer" id="footer">
    <p>Made with not a lot of love by @yerkko </p>
</div>

</html>